//Colours

$color_primary: rgba(22, 45, 84, 1);
$color_primary_dark: rgb(8, 16, 30);
$color_primary_light: rgb(53, 107, 200);

$color_inactive: #696969;
//Fonts
$font_primary: 'Aboreto', cursive;
$font_secundary: 'Signika Negative', sans-serif;


//Searchbar
$search-time: 800ms;
$reset-time: 150ms;